<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-3 ">
                <div class="container-fluid bg-grey">
                   <h2 class="text-center"> <a href="{{ path("ucbl_pidji_accueil") }}" ><span>Kumpital </span><span>Pidji</span></a></h2>
                    <h4 class="text-justify"><p>Kumpital Pidji est un site d'annonce accessible uniquement
                            aux étudiants et personnels de l'université Lyon 1.</p></h4>
                </div>
            </div>
            <div class="col-md-4 col-xs-3">
                <div class="container-fluid bg-grey">
                    <h2 class="text-center">Développé par</h2>
                    <div class=" text-center col-sm-12">
                        <ul>
                            <li><a href="https://www.facebook.fr" target="_blank" >Antoine Gambino</a></li>
                            <li><a href="https://www.facebook.fr" >Lydia Saidj</a></li>
                            <li><a href="https://www.facebook.fr" >Aliou Barry</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="container-fluid bg-grey">
                    <h2 class="text-center">CONTACTEZ-NOUS</h2>
                       <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                                </div>
                            </div>
                            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <button class="btn btn-default pull-right" type="submit">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</footer>
