{#{% extends "UCBLPidjiBundle::layoutAdmin.html.twig" %}#}

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}



