{% extends "UCBLPidjiBundle::layout.html.twig" %}

{% block titre %}
    Accueil - {{ parent() }}
{% endblock %}


{% block contenuPrincipal %}

    <div class="jumbotron text-center">
        <h1>KUMPITAL PIDJI</h1>
        <p>Ce site d'annonce est accessible uniquement
            aux étudiants et personnels de l'université Lyon 1.
        </p>
        <div class="container-fluid  margin" style="margin-bottom: 2%;">
            <a  href=" {{ path('fos_user_security_login')}}"  class="themeBtn ripple-effect">Se connecter avec  son email de Lyon 1</a>
        </div>
    </div>

{% endblock %}